node_modules/
dist/
build/
*.log
.DS_Store
.env
updates/
backups/
.idea/
.vscode/
*.swp
*.swo
*~
.pnpm-debug.log*
work/

outputs/*
!outputs/Mineradio.Setup.1.5.4-kugou.exe
!outputs/Mineradio.Setup.1.5.4-kugou.exe.blockmap
!outputs/latest.yml
